:host {
  display: block;
}

.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.is-3d {
  transform-style: preserve-3d;
}

.component {
  position: absolute;
  height: 50px;
  width: 50px;
  backface-visibility: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.image {
  display: block;
}

.lock-icon {
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  width: 25px;
  height: 25px;
}

.is-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.border {
  box-sizing: border-box;
  border: solid 2px #CCCCCC;
}

.is-fit-full {
  height: 100%;
  width: 100%;
}

.selected-highlight {
  pointer-events: none;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: hsla(200, 100%, 75%, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.selected-highlight.is-magnetic {
  background-color: hsla(60, 100%, 75%, 0.6);
}
