.container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.message {
  display: table;
  table-layout: fixed; 
  box-sizing: border-box;
  padding: 5px 5px;
  width: 100%;
  word-wrap : break-word;
  overflow-wrap:break-word;
  border-bottom:1px dotted #666;
}

.direct-message {
  background-color: #555;
  color: #CCC;
}

.message .image {
  padding: 0px;
  width: 50px;
  height: 50px;
  display: table-cell;
  vertical-align: top;
}
.message .image img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}
.message .body {
  display: table-cell;
}
.message .title {
  vertical-align: top;
  font-size: 14px;
  padding-left: 5px;
}
.message .text {
  vertical-align: top;
  padding: 0.1em 5px 0px 5px;
  font-size: 14px;
}
.message .tip {
  font-size: 8px;
}

.dicebot-message .msg-text {
  color:#22F;
}

.direct-message.dicebot-message .msg-text {
  color:#CCF;
}
