<div class="container">
  <div class="message" [@flyInOut]="'in'">
    <div class="image">
      <img *ngIf="0 < imageFile?.url?.length" [src]="imageFile?.url | safe: 'resourceUrl'" />
    </div>
    <div class="body">
      <div class="title">
        <span style="font-weight: bold;">{{chatMessage.name}}</span>
        <span class='tip'>　From: {{chatMessage.from}}</span>
        <span class='tip'>　{{chatMessage.timestamp | date:'y/M/d H:mm'}}</span>
      </div>
      <div class="text"><span>{{chatMessage.text}}</span></div>
    </div>
  </div>
</div>