.container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.message {
  display: table;
  table-layout: fixed; 
  box-sizing: border-box;
  padding: 5px 5px;
  width: 100%;
  word-wrap : break-word;
  overflow-wrap:break-word;
  border-bottom:1px dotted #999;
}

.direct-message {
  background-color: #555;
  color: #CCC;
}

.message .image {
  padding: 0px;
  width: 50px;
  height: 50px;
  display: table-cell;
  vertical-align: top;
}
.message .image img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
}
.message .body {
  display: table-cell;
}
.message .title {
  vertical-align: top;
  font-size: 14px;
  padding-left: 12px;
}
.message .text {
  vertical-align: top;
  padding: 0.1em 12px 0px 12px;
  font-size: 14px;
}
.message .tip {
  font-size: 8px;
}

.msg-name {
  font-weight: bold;
}

.msg-text {
  white-space: pre-wrap;
}

.dicebot-message .msg-name {
  font-size: 8px;
}

.dicebot-message .msg-text {
  /*color:#22F;*/
}

.direct-message.dicebot-message .msg-text {
  /*color:#CCF;*/
}
