.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-pointer-events-auto {
  pointer-events: auto;
}

.component {
  position: absolute;
  height: auto;
  width: auto;
  backface-visibility: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  min-width: 25px;
  min-height: 25px;
}

.component-content {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.card-image {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: 100%;
}

.upright-transform {
  position: absolute;
  backface-visibility: visible;
  transform: rotateX(-90deg) scale(0.7) translateY(-50%) ;
}

.is-translucent {
  filter: opacity(0.7);
}

.rotate-grab {
  display: none;
  opacity: 0;
  position: absolute;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: solid 2px #CCCCCC;
  cursor: -moz-default;
  cursor: -webkit-default;
  cursor: default;
  z-index: 1;
  padding: 0;
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  font-size: 8px;
}

.component:hover .rotate-grab, .component:active .rotate-grab {
  display: block;
}

.rotate-grab:hover, .rotate-grab:active {
  opacity: 1;
}

.of-left-top {
  top: -7px;
  left: -7px;
}

.of-left-bottom {
  bottom: -7px;
  left: -7px;
}

.of-right-bottom {
  bottom: -7px;
  right: -7px;
}

.of-right-top {
  top: -7px;
  right: -7px;
}

.name-tag {
  box-sizing: border-box;
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 24px;
  position: absolute;
  top: 50%
}

.is-nowrap {
  white-space: nowrap;
}

.is-black-background {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}