:host {
  display: block;
}

.draggable-panel {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;

  color: #444;
  background: linear-gradient(-30deg, rgba(240,218,189, 0.9), rgba(255, 244, 232, 0.9));
  border: solid 1px #999;

  padding: 0px;
  top: 200px;

  height: 200px;
  width: 300px;
  max-height: 100%;
  max-width: 100%;
}

.scrollable-panel {
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 100%;
  padding: 8px;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
  height: 25px;
  width: 100%;
  background-color: #555;
  color: #CCC;
  user-select: none;

  display: flex;
}

.title-text {
  align-self: center;
  flex-grow: 1;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-button {
  align-self: center;
  flex-shrink: 0;
}

.title button {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  color: #CCC;
}

.pointer-events-none {
  pointer-events: none;
}