<div *ngIf="!isConnected;else other_content">
  <button (click)="reload()" [disabled]="isReloading">一覧を更新</button>
  <button (click)="showRoomSetting()">新しいルームを作成する</button>
  <hr/>
  <ng-container *ngIf="rooms.length">
    <table style="font-size:12px; border: 0; border-spacing: 0; width: 100%;">
      <tr>
        <th style="padding: 0 1em;">ルームID</th>
        <th style="padding: 0 1em; min-width: 50%;">ルーム名</th>
        <th style="padding: 0 1em;">パスワード</th>
        <th style="padding: 0 1em;">参加者</th>
        <th style="padding: 0 1em;"></th>
      </tr>
      <ng-container *ngFor="let room of rooms">
        <!--
    <div *ngIf="!room.isPrivate" class="box">
      <div style="display: inline-block;">
        <i *ngIf="0 < room.peers[0].password.length" class="material-icons" style="vertical-align: middle; size:0.6rem;">lock</i>
        <span>{{room.roomName}}</span>/<span>{{room.room}}</span>/<span>({{room.peers.length}})</span>
        <button [disabled]="room.room === currentRoom" *ngIf="0 < room.room.length" type="submit" (click)="connect(room.peers[0].fullstring)">接続する</button>
      </div>
    </div>
    -->
        <tr>
          <td style="font-size:0.5rem; text-align: center; padding: 0 1em;">{{room.peers[0]?.room}}</td>
          <td style="text-align: center; padding: 0 1em;">{{room.roomName}}</td>
          <td *ngIf="0 < room.peers[0].password.length" style="text-align: center; padding: 0 1em;"><i class="material-icons" style="vertical-align: middle; font-size:0.9rem;">lock</i></td>
          <td *ngIf="room.peers[0].password.length < 1" style="text-align: center; padding: 0 1em;">-</td>
          <td style="text-align: center; padding: 0 1em;">{{room.peers.length}}人</td>
          <td><button [disabled]="room.peers[0]?.room === currentRoom" *ngIf="0 < room.alias.length" type="submit" (click)="connect(room.peers)">接続する</button></td>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <span *ngIf="rooms.length < 1" style="font-size: 12px;">{{help}}</span>
</div>
<ng-template #other_content><span style="font-size: 12px;">別のルームに接続したい場合は、他の参加者との接続を切ってください。<br>（※ページリロードで切断できます。）</span></ng-template>
