<div *ngIf="!isConnected;else other_content">
  <button (click)="reload()" [disabled]="isReloading">一覧を更新</button>
  <button (click)="showRoomSetting()">新しいルームを作成する</button>
  <hr/>
  <ng-container *ngIf="rooms.length">
    <table class="room-list">
      <tr>
        <th class="is-0-width is-small-font">ルームID</th>
        <th class="is-small-font">ルーム名</th>
        <th class="is-0-width is-small-font">パスワード</th>
        <th class="is-0-width is-small-font">参加者</th>
        <th class="is-0-width is-small-font"></th>
      </tr>
      <ng-container *ngFor="let room of rooms">
        <tr>
          <td class="room-id">{{room.id}}</td>
          <td class="room-name"><div class="room-name-text">{{room.name}}</div></td>
          <td *ngIf="room.hasPassword">
            <i class="material-icons" style="vertical-align: middle; font-size:0.9rem;">lock</i>
          </td>
          <td *ngIf="!room.hasPassword">-</td>
          <td>{{room.peers.length}}人</td>
          <td>
            <button [disabled]="room.id === currentRoom" *ngIf="0 < room.id.length" type="submit" (click)="connect(room)">接続</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <span *ngIf="rooms.length < 1" style="font-size: 12px;">{{help}}</span>
</div>
<ng-template #other_content><span style="font-size: 12px;">別のルームに接続したい場合は、他の参加者との接続を切ってください。<br>（※ページリロードで切断できます。）</span></ng-template>
