.drop-zone {
  border: 2px dashed #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 24px bold 'Vollkorn';
  color: #444;
  cursor: pointer;
  margin-bottom: 5px;
}

.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.image {
  display: inline-block;
  font-size: 0;
  padding: 2px;
  border: transparent 2px solid;
  border-top: transparent 6px solid;
}

.image img {
  vertical-align: bottom;
}

.selected {
  border: 2px dotted #666;
  border-top: 6px solid #444;
}

.sticky-top {
  padding: 5px;
  position: sticky;
  top: 0;
  background-color: rgba(240, 218, 189, 0.8);
  border-top: 1px dotted #666;
  border-bottom: 1px dotted #666;
}

.sticky-top input {
  width: calc(100% - 50px);
}
