#drop-zone {
  border: 2px dashed #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20px bold 'Vollkorn';
  color: #555;
}

.image {
  font-size: 0;
}

.image  img {
  vertical-align: bottom;
}