<div class="draggable-panel submenu-panel" #root (mouseleave)="hideSubMenu()">
  <div *ngIf="0 < title.length" class="title">{{title}}</div>
  <ul>
    <li *ngFor="let action of subActions" (click)="doAction(action)" (mouseenter)="showSubMenu(action)">
      <div class="menu-title">{{action.name}}</div>
      <div *ngIf="action.subActions" class="sub-menu-arrow">
        <i class="material-icons" style="font-size: 1em;">arrow_forward_ios</i>
      </div>
      <context-sub-menu *ngIf="subMenu && parentMenu === action" [title]="action.name" [subActions]="subMenu"></context-sub-menu>
    </li>
  </ul>
</div>