.component {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: visible;
  color: #444;
  z-index: 9000;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.component-content {
  font-size: 12px;
}

.is-large-size {
  max-width: 350px;
}

.is-middle-size {
  max-width: 270px;
}

.is-small-size {
  max-width: 250px;
}

.is-middle-size .grid-container-root {
  width: 270px;
}

.is-small-size .grid-container-root {
  width: 250px;
}

.component-background {
  background: linear-gradient(-30deg, rgba(240,218,189, 0.9), rgba(255, 244, 232, 0.9));
  border-bottom: solid 1px #999;
}

.component-title {
  color: #ccc;
  font-size: 1em;
  text-align: right;
  vertical-align: middle; 
  height: 32px;
  line-height: 32px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 1em;
}

.title-background {
  background-color: #555;
  border-top: solid 1px #999;
  border-left: solid 1px #999;
  border-right: solid 1px #999;
}

.component-owner {
  font-size: 0.8em;
  padding: 10px;
  color: #ccc;
  vertical-align: middle; 
  overflow: hidden;
  text-align: right;
  padding: 2px 1em;
  max-width: 100%;
  box-sizing: border-box;
}

.owner-tag {
  width: min-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: 0; 
  overflow: hidden;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
  box-sizing: border-box;
  padding: 3px 9px;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-image {
  width: 250px;
  max-height: 330px;
  padding: 8px;
  vertical-align: bottom;
  object-fit: contain;
  box-sizing: border-box;
  background-color: rgba(204, 204, 204, 0.5);
}

.zoom-button {
  position: absolute;
  left : 8px;
  bottom: -21px;
  width: 42px;
  height: 42px; 
  border-radius: 100px; 
  padding: 4px;
}

.zoom-button > .material-icons {
  font-size: 24px;
  vertical-align: bottom;
}

.position-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.image-view-background {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.3);
  z-index: 9900;
}

.image-view-background .close-button {
  position: absolute;
  right: 16px;
  top: 16px;
}

.image-view-background .close-button > .material-icons {
  font-size: 36px;
}

.contain-image {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  vertical-align: bottom;
  object-fit: contain;
}

.text-note-container {
  width: 100%;
  max-height: 400px; 
  padding: 0.6em 1.2em;
  box-sizing: border-box;
  overflow: hidden auto;
  line-height: 1.8;
  border-left: solid 1px #999;
  border-right: solid 1px #999;
}

.character-image-box {
  width: 100px;
  max-height: 120px;
  overflow: hidden;
  vertical-align: bottom;
  margin-left: 0.5em;
  margin-bottom: -6px;
  border-radius: 1em;
  z-index: 1;
}

.character-image {
  padding: 0;
  width: 100%;
  vertical-align: bottom;
}

.is-black-mask {
  filter: brightness(0);
 }

 .is-harf-black-mask {
  filter: brightness(0.5);
 }

.character-grid-container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr auto auto auto;
}

.title-bg-area {
  grid-area: 3 / 1 / 4 / 3;
}

.title-area {
  grid-area: 3 / 2 / 4 / 3;
}

.owner-name-area {
  grid-area: 2 / 2 / 3 / 3;
}

.image-area {
  grid-area: 1 / 1 / 4 / 2;
}

.void-area {
  grid-area: 1 / 2 / 3 / 3;
}

.dataElm-area {
  grid-area: 4 / 1 / 5 / 3;
}

.grid-container-root {
  padding: 0.5em 1.2em;
  max-height: 250px;
  overflow: hidden auto;
  box-sizing: border-box;
  border-left: solid 1px #999;
  border-right: solid 1px #999;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr fit-content(80%);
}

.grid-container > div {
  box-sizing: border-box;
  line-height: 24px;
}

.indetnt {
  padding-left: 0.5em;
}

.section {
  max-width: 100%;
  grid-column: 1 / span 2;
}

.section-text {
  font-size: 1.1em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note {
  margin-left: 0.5em;
  font-size: 1em;
  line-height: 1.8;
}

.textarea {
  width: 100%;
  height: 100%;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #444;
  padding: 0;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.textarea:hover {
  background: #EEE;
}

.textarea:focus {
  background: #FFF;
}

.tag {
  padding-right: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.value {
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

.hidden-spacer {
  visibility: hidden;
  height: 0px;
  min-width: 3em; 
  overflow: hidden;
  white-space: pre-wrap;
}

.textarea-spacer {
  visibility: hidden;
  min-width: 3em; 
  height: auto;
  min-height: 24px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.input {
  width: 100%;
  min-width: 3em; 
  text-align: right;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #444;
  padding: 0;
  box-sizing: border-box;
}

.input:hover {
  background: #EEE;
}

.input:focus {
  background: #FFF;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover, input[type=number]:focus {
  -moz-appearance: number-input;
}

.border {
  border-bottom: 1px dotted #888;
}

.separator {
  padding: 2px 0 2px 0;
  border-bottom: 1px solid #888;
}

.with-button-marign {
  padding-left : 60px;
}

.is-fill {
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
}

.is-bold {
  font-weight: bold;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-pointer-events-auto {
  pointer-events: auto;
}

/**************** input-range ****************/

input[type='range'] {
  --slider-track-color: transparent; /* #ccc */
  --slider-fill-color: #555; /*#777 */
  --slider-border-color: #777;
  --slider-height: 0.8em;
  --slider-thumb-size: 1.0em;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*var(--slider-thumb-size) + var(--ratio)*(100% - var(--slider-thumb-size)));
  margin: 0;
  padding: 0;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  outline: 0;
  appearance: none;
}

input[type='range'], input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border-top: solid 1px var(--slider-border-color);
  border-bottom: solid 1px var(--slider-border-color);
  border-radius: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-track-color);
}

input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(var(--slider-fill-color), var(--slider-fill-color)) 0/var(--sx) 100% no-repeat var(--slider-track-color);
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: solid 1px var(--slider-border-color);
  border-radius: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-track-color);
}

input[type='range']::-ms-track {
  box-sizing: border-box;
  border: solid 1px var(--slider-border-color);
  border-radius: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-track-color);
}

input[type='range']::-moz-range-progress {
  height: var(--slider-height);
  background: var(--slider-fill-color);
  border-radius: var(--slider-height);
}

input[type='range']::-ms-fill-lower {
  height: var(--slider-height);
  background: var(--slider-fill-color);
  border-radius: var(--slider-height);
}

input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--slider-height) - var(--slider-thumb-size)) / 2 - 1px);
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  box-sizing: border-box;
  border: solid 1px  var(--slider-border-color);
  border-radius: 2em;
  background: #ddd;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  box-sizing: border-box;
  border: solid 1px var(--slider-border-color);
  border-radius: 2em;
  background: #ddd;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  margin-top: 0;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  box-sizing: border-box;
  border: solid 1px var(--slider-border-color);
  border-radius: 2em;
  background: #ddd;
  cursor: pointer;
}

input[type='range']::-ms-tooltip {
  display: none;
}