:host {
  display: block;
}

.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-pointer-events-auto {
  pointer-events: auto;
}

.is-empty {
  height: 100px;
  width: 100px;
}

.component {
  position: absolute;
  backface-visibility: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.component-content {
  height: 100%;
  width: 100%;
  margin-top: -5px;
  margin-left: -5px;
  border: solid 5px #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
  backface-visibility: hidden;
}

.card-image {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: 100%;
}

.rotate-grab {
  position: absolute;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  cursor: -moz-default;
  cursor: -webkit-default;
  cursor: default;
  z-index: 1;
  padding: 2px;
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  font-size: 8px;
}

.rotate-grab {
  display: none;
}

.component:hover .rotate-grab {
  display: block;
  opacity: 0.5;
}

.component:active .rotate-grab {
  display: none;
}

.component .rotate-grab:hover, .component .rotate-grab:active {
  display: block;
  opacity: 1;
}

.of-left-top {
  top: -14px;
  left: -14px;
}

.of-left-bottom {
  bottom: -14px;
  left: -14px;
}

.of-right-bottom {
  bottom: -14px;
  right: -14px;
}

.of-right-top {
  top: -14px;
  right: -14px;
}

.name-tag {
  box-sizing: border-box;
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 24px;
  position: absolute;
  top: 50%
}

.has-length-limit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 18em;
}

.is-nowrap {
  white-space: nowrap;
}

.is-black-background {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}

.material-icons {
  display: none;
}
.component:hover .material-icons, .component:active .material-icons {
  display: inline;
}
