.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.is-pointer-events-none {
  pointer-events: none;
}

.component {
  position: absolute;
  height: 50px;
  width: 50px;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.component-content {
  width: 100%;
  height: 100%;
}

.pedestal-inner {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border:solid 6px #FFCC80;
  border-radius: 25px;
}

.pedestal-outer {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border:solid 2px #212121;
  border-radius: 25px;
}

.upright-transform {
  bottom: 50%;
  left: 0;
  right: 0;
  position: absolute;
  transform: rotateX(-90deg) translateY(-50%);
}

.is-fit-width {
  height: auto;
  width: 100%;
}

.fill-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.image {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.flip {
  transform: scaleX(-1);
}

.name-tag {
  box-sizing: border-box;
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 24px;
  position: absolute;
  top: -30px;
}

.is-nowrap {
  white-space: nowrap;
}

.is-black-background {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}