<div class="component is-3d is-grab"
  [style.width.px]="size * gridSize" [style.height.px]="size * gridSize"
  appMovable [movable.option]="movableOption">
  <div class="component-content is-3d" [@bounceInOut]="'in'">
    <div class="pedestal-inner"></div>
    <div class="pedestal-outer"></div>
    <div class="upright-transform is-fit-width is-3d">
      <div class="fill-frame">
        <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background" [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
          <span>{{name}}</span>
        </div>
        <div class="rotate-frame" appRotable [rotable.option]="rotableOption">
          <div class="rotate-grab of-left-top">
            <i class="material-icons">autorenew</i>
          </div>
          <img class="image" *ngIf="0 < imageFile.url.length" [src]="imageFile.url | safe: 'resourceUrl'">
        </div>
      </div>
    </div>
  </div>
</div>