.log {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.virtual-scroll-spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.virtual-scroll-container {
  flex-shrink: 0;
  width: 100%;
}
