<div class="log" *ngIf="0 < chatMessages.length">
  <button *ngIf="hasMany" (click)="moreMessages()">查看舊信息</button>
  <ng-container *ngFor="let chatMessage of chatMessages; trackBy: trackByChatMessage">
    <chat-message *ngIf="chatMessage.isDisplayable" [chatMessage]="chatMessage" (onInit)="onMessageInit()"></chat-message>
  </ng-container>
</div>
<div class="log" *ngIf="chatMessages.length < 1">
  <chat-message *ngFor="let chatMessage of sampleMessages" [chatMessage]="chatMessage" (onInit)="onMessageInit()"></chat-message>
</div>