:host {
  display: block;
  height: 100%;
}

.loop-anime {
  -webkit-animation: anime1 1.3s infinite ease-in-out;
  animation: anime1 1.3s infinite ease-in-out;
}
.component {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.sticky-bottom {
  position: sticky;
  bottom : 0;
  width: 100%;
  background-color: rgba(240,218,189, 0.8);
  border-top:1px dotted #666;
  margin-bottom: 0;
}

.chat-tab {
  padding : 5px;
  user-select: none;
}

.chat-tab label {
  display: inline-block;
  position: relative;
}

.chat-tab input[type="radio"] {
  display: none;
}

.chat-tab input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-size: 12px;
  background-color: transparent;
  color: #444; 
  border: solid 1px #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 100px;
  cursor: pointer;
}

.chat-tab input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.chat-tab input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.badge {
  position: absolute;
  top: -4px;
  right: 0;
}

.tab-setting {
  background-color: transparent;
  color: #444; 
  border: solid 1px #555;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.tab-setting:hover {
  background-color: #888;
  color: #eee;
  border: solid 1px #555;
}

.small-font {
  font-size: 12px;
  vertical-align: middle;
}

.material-icons {
  vertical-align: middle;
  font-size: 1.0rem;
}
