.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.component {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

.is-perspective {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.component-content {
  height: 2000px;
  width: 2000px;
}

.is-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.grid-canvas {
  opacity: 0.0;

  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;

  backface-visibility: hidden;
}

.game-table {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
}

.is-pointer-events-none {
  pointer-events: none;
}
