.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;

  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:  row wrap;

  -webkit-justify-content: flex-start; /* Safari */
  justify-content: flex-start;

  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;

  width: 100%;
}
.flex-item {
  margin: 0px;
  padding: 0px;
  -webkit-flex: 1 0 auto; /* Safari */
  flex: 1 0 auto;
  min-width: 25px; 
}
.box {
  border: transparent 2px solid;
  border-left: transparent 6px solid;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
.selected {
  border: 2px dotted #666;
  border-left: 6px solid #444;
}
.input {
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #444;
  padding: 2px;
}

input:hover {
  background: #EEE;
}

input:focus {
  background: #FFF;
}

input[type='range'] {
  --slider-track-color: transparent; /* #ccc */
  --slider-fill-color: #555; /*#777 */
  --slider-border-color: #777;
  --slider-height: 0.8em;
  --slider-thumb-size: 1.0em;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*var(--slider-thumb-size) + var(--ratio)*(100% - var(--slider-thumb-size)));
  margin: 0;
  padding: 0;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  outline: 0;
  appearance: none;
}

input[type='range'], input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border-top: solid 1px var(--slider-border-color);
  border-bottom: solid 1px var(--slider-border-color);
  border-radius: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-track-color);
}

input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(var(--slider-fill-color), var(--slider-fill-color)) 0/var(--sx) 100% no-repeat var(--slider-track-color);
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: solid 1px var(--slider-border-color);
  border-radius: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-track-color);
}

input[type='range']::-ms-track {
  box-sizing: border-box;
  border: solid 1px var(--slider-border-color);
  border-radius: var(--slider-height);
  height: var(--slider-height);
  background: var(--slider-track-color);
}

input[type='range']::-moz-range-progress {
  height: var(--slider-height);
  background: var(--slider-fill-color);
  border-radius: var(--slider-height);
}

input[type='range']::-ms-fill-lower {
  height: var(--slider-height);
  background: var(--slider-fill-color);
  border-radius: var(--slider-height);
}

input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--slider-height) - var(--slider-thumb-size)) / 2 - 1px);
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  box-sizing: border-box;
  border: solid 1px  var(--slider-border-color);
  border-radius: 2em;
  background: #ddd;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  box-sizing: border-box;
  border: solid 1px  var(--slider-border-color);
  border-radius: 2em;
  background: #ddd;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  margin-top: 0;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  box-sizing: border-box;
  border: solid 1px  var(--slider-border-color);
  border-radius: 2em;
  background: #ddd;
  cursor: pointer;
}

input[type='range']::-ms-tooltip {
  display: none;
}

.tab {
  padding : 5px;
  user-select: none;
}

.tab {
  padding : 0px;
  border: solid 1px #555;
  border-radius: 0.3em;
  overflow: hidden;

  display: flex;
  flex-flow:  row nowrap;
  justify-content: space-around;
  align-items: stretch;

  text-align: center;

  margin: 0px; 
  max-width: 500px;

  background-color: rgba(240,218,189, 0.9);
}

.tab label {
  display: inline-block;
  flex: 1 0 auto;
  flex-grow: 1;
}

.tab label:hover {
  background-color: #888;
  color: #eee;
  border-color: #555;
}

.tab label:checked {
  background: #555;
  color: #CCC;
}

.tab input[type="radio"] {
  display: none;
}

.tab input[type="radio"] + div {
  vertical-align: middle;
  outline: 0;
  font-size: 0.6em;
  background-color: transparent;
  color: #444; 
  
  box-sizing: border-box;

  /*
  border-top: solid 1px #555;
  border-bottom: solid 1px #555;
  border-left: solid 1px #555;
  */
  
  /*
  border: solid 1px #555;
  border-radius: 100px;
  margin: 2px; 
  */

  margin: 0px; 
  padding: 2px 8px;

  cursor: pointer;
}

/*
.tab label:first-child input[type="radio"] + div {
  border-left: solid 1px #555;
  border-radius: 100px 0 0 100px / 100px 0 0 100px;
}

.tab label:last-child input[type="radio"] + div {
  border-right: solid 1px #555;
  border-radius: 0 100px 100px 0 / 0 100px 100px 0;
}
*/

.tab input[type="radio"] + div {
  /*height: 100%;*/
  /*width: 100%;*/
}

.tab input[type="radio"] + div:hover {
  background-color: #888;
  color: #eee;
  border-color: #555;
}

.tab input[type="radio"]:checked + div {
  background: #555;
  color: #CCC;
}

.is-sticky-top {
  position: sticky;
  top : 0;
}