.imagebox {
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
  text-align: center;
}
.image{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}
.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
}
.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
}
.direct-message {
  background-color: #555;
  color: #CCC;
}