.imagebox {
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
  text-align: center;
}
.image{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align: bottom;
}
.table {
  display: table;
  width: 100%;
}
.table .table-cell {
  display: table-cell;
}
.edit-info {
  width: 100%;
  text-align: center;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
.palette {
/*.input {*/
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, sans-serif;
  width: 100%;
  height: 100%;
}
.direct-message {
  background-color: #555;
  color: #CCC;
}
.chat-input {
  font-family: Arial;
  font-size: 13px;

  width: calc(100% - 100px);
  height: calc(1em + 4px);
  min-height: calc(1em + 7px);
  max-height: calc(6em + 7px);
  resize: none;
  overflow: auto;

  padding: 1px;
  margin: 5px;

  word-break: break-all;
  vertical-align: bottom;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
