:host {
  display: block;
}

.box {
  border-bottom:1px dotted #888;
}

.image-box {
  display: inline-block;
  vertical-align: top;
}

.image {
  padding: 0px;
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: top;
}

.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}