.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.is-pointer-events-none {
  pointer-events: none;
}

.is-pointer-events-auto {
  pointer-events: auto;
}

.component {
  position: absolute;
  height: 50px;
  width: 50px;
  backface-visibility: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.component-content {
  height: 100%;
  width: 100%;
}

.texture {
  position: absolute;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.of-wall-top {
  top: 0px;
  left: 0px;

  transform-origin: 50% 100%;
  transform: translateY(-100%) rotateX(90deg) rotateZ(180deg) scaleX(-1.0);
  filter: brightness(0.3);
}

.of-wall-bottom {
  bottom: 0px;
  left: 0px;

  transform-origin: 50% 100%;
  transform: rotateX(-90deg);
  /*filter: brightness(1.0);*/
}

.of-wall-left {
  top: 0px;
  left: 0px;

  transform-origin: 0% 0%;
  transform: rotateZ(90deg) rotateX(-90deg) scaleX(-1.0) translateX(-100%) translateY(-100%);
  filter: brightness(0.5);
}

.of-wall-right {
  top: 0px;
  right: 0px;

  transform-origin: 100% 0%;
  transform: rotateZ(-90deg) rotateX(-90deg) translateY(-100%);
  filter: brightness(0.8);
}

.pedestal-grab {
  z-index: -1;
  position: absolute;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  cursor: default;

  box-sizing: border-box;
  border-top: solid 7px #CCC;
  border-left: solid 7px #CCC;
  border-right: solid 7px #CCC;
  border-bottom: solid 7px #CCC;
  border-radius: 14px;
}

.rotate-grab {
  opacity: 0;
  z-index: -1;
}

.rotate-grab-icon {
  position: absolute;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: solid 2px #CCCCCC;
  cursor: -moz-default;
  cursor: -webkit-default;
  cursor: default;
  z-index: 1;
  padding: 0;
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  font-size: 8px;

  transform-style: preserve-3d;
  transform: translateZ(0.1px);
}

.component:hover .rotate-grab, .component:active .rotate-grab {
  opacity: 1;
}

.of-left-top {
  top: -14px;
  left: -14px;
  border-radius: 14px 7px 14px 7px;
}

.of-left-bottom {
  bottom: -14px;
  left: -14px;
  border-radius: 7px 14px 7px 14px;
}

.of-right-bottom {
  bottom: -14px;
  right: -14px;
  border-radius: 14px 7px 14px 7px;
}

.of-right-top {
  top: -14px;
  right: -14px;
  border-radius: 7px 14px 7px 14px;
}

.blinking-animation {
	-webkit-animation: blink 1.0s linear infinite alternate;
  -moz-animation: blink 1.0s linear infinite alternate;
   animation: blink 1.0s linear infinite alternate;
}

@-webkit-keyframes blink {
  0% { opacity:0.9; }
  100% { opacity:0.5; }
}

@-moz-keyframes blink {
  0% { opacity:0.9; }
  100% { opacity:0.5; }
}

@keyframes blink {
  0% { opacity:0.9; }
  100% { opacity:0.5; }
}