
<div class="volume-wrapper"><div class="volume-label">試聽音量：</div><input class="volume-controller" [(ngModel)]="auditionVolume" type="range" min="0" max="1" step="0.01" /></div>
<div class="volume-wrapper"><div class="volume-label">BGM音量：</div><input class="volume-controller" [(ngModel)]="volume" type="range" min="0" max="1" step="0.01" /></div>
<div class="volume-wrapper"><div class="volume-label">效果音音量：</div><input class="volume-controller" [(ngModel)]="sfxVolume" type="range" min="0" max="1" step="0.01" /></div>

<hr/>
<div>
  <div *ngFor="let audio of audios" class="box">
    <button *ngIf="audio !== auditionPlayer?.audio || auditionPlayer?.paused" (click)="play(audio)" [disabled]="!audio.isReady" >試聽/播放</button>
    <button *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused" (click)="stop()" [disabled]="!audio.isReady" >試聽/停止</button>
    <button *ngIf="audio !== jukebox?.audio" (click)="playBGM(audio)" [disabled]="!audio.isReady" >BGM/播放</button>
    <button *ngIf="audio === jukebox?.audio" (click)="stopBGM(audio)" [disabled]="!audio.isReady" >BGM/停止</button>
    <span *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused">【試聽中】</span>
    <span *ngIf="audio === jukebox?.audio">【BGM】</span>
    <span>{{audio.name}}</span>
  </div>
  <div *ngIf="audios.length < 1" >上傳的音樂檔案將顯示在此處。</div>
</div>

<label>
  <div class="drop-zone">
    <div>
      <i class="material-icons large-font">playlist_add</i>
    </div>
    <div>將音樂檔案拖曳到這裡上傳</div>
    <div class="small-font">或點解這裡選擇檔案</div>
    <input type="file" style="display: none;" (change)="handleFileSelect($event)" multiple accept="audio/*"/>
    <div class="small-font">
      <br>一個檔案最大10MB</div>
  </div>
</label>

<div style="font-size: 12px;">※「試聽」只會播放給自己一次。</div>
<div style="font-size: 12px;">※「BGM」會把音樂播放給所有房間成員。</div>
<div style="font-size: 12px;">※現行版本不會保存音樂到ZIP裡。（毎次都要重新上傳）</div>

