:host {
  display: block;
}

.drop-zone {
  border: 2px dashed #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 24px bold 'Vollkorn';
  color: #444;
  cursor: pointer;
}

.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.box {
  border-bottom:1px dotted #888;
}